::before,
::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: cover;
}

:root {
  --spacing: 0px;
  --blur: 0px;
  --base-color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 82);
  color: white;
}

header span {
  color: var(--base-color);
}

h1 {
  text-align: center;
  padding: 25px;
  font-size: 3rem;
}

.inputs-container,
.input-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

label {
  font-size: 2rem;
}

.image-container {
  /* border: 2px solid white; */
  /* width: 60%; */
  /* height: 500px; */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--base-color); */
  margin-top: 15px;
}

.image-container img {
  width: 50%;
  height: 50%;
  padding: var(--spacing);
  background-color: var(--base-color);
  filter: blur(var(--blur));
}
